.advantages {
  width: 100%;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  //outline: 1px dashed black;
  background-color: @light-grey;
  min-width: 320px;

  padding: 12px 12px;
  box-sizing: border-box;
}

.advantages__item-with-image {
  background-color: @light-blue;
  color: @basic-white;
}

.advantages__image {
  background-color: @blue;
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 256px;
    grid-column: span 2;
  }
}

//расположение иконки и текста в блоках с svg
[class*="advantages__item-with-icon"] {
  background-color: @basic-white;

  display: flex;
  flex-direction: row;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

//расположение иконки в блоке
[class*="advantages__icon"] {
  margin: 0;
  margin-top: 14px;

  flex-shrink: 0;
  flex-grow: 0;

  @media (min-width: @tablet-width) {
    margin: auto;
  }
}

.advantages__icon--house {
  width: 39px;
  height: 37px;
  background-image: url("../../img/icon-house.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: contain;
    width: 75px;
    height: 72px;
  }
}

.advantages__icon--gift {
  width: 32px;
  height: 38px;
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: contain;
    width: 64px;
    height: 75px;
  }
}

.advantages__icon--burger {
  width: 40px;
  height: 35px;
  background-image: url("../../img/icon-burger.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-size: contain;
    width: 76px;
    height: 68px;
  }
}

//меняю местами бургер и подарок
@media (min-width: @tablet-width) {
  .advantages__item-icon--burger {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.advantages__item-icon-text-wrapper {
  text-align: left;
  padding-left: 9px;

  @media (min-width: @tablet-width) {
    text-align: center;
  }
}

.advantages__item-title {
  margin-top: 23px;
}
