.feedback-form {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

//общая стилизация блоков формы отзыва
.feedback-form__item {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border: none;

  min-width: 320px;
  max-width: 1200px;

  order: 4;
}

//общая стилизация названия блока
.feedback-form__legend {
  font-weight: 700;
  margin: 0 auto;
}

//общая стилизация названия поля
.feedback-form__label {
  font-size: 14px;
  outline: 1px dashed black;
}

//общая стилизация поля ввода
.feedback-form__input {
  border: none;
  background-color: @light-grey;
  padding: 18px 10px 14px 22px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

//стилизация блока ФИО
.feedback-form__item--name {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  & .feedback-form__legend {
    @media (min-width: @tablet-width) {
      margin: 0;
      text-align: left;
      font-size: 21px;
    }
  }

  & .feedback-form__label {
    display: grid;
    grid-template-columns: min-content 1fr;

    align-items: center;
    column-gap: 15px;

    text-align: start;
    white-space: nowrap;
  }
}

// блок контактной информации
.feedback-form__item--contacts {

  display: grid;

  @media (min-width: @tablet-width) {
    order: 3;
    grid-column: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 480px);
    column-gap: 79px;
  }

  & .feedback-form__label {
    text-indent: 22px;
    text-align: start;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media (min-width: @desktop-width) {
       flex-direction: row;
       align-items: center;
    }
  }

  & .feedback-form__input {
    margin: 0;

    @media (min-width: @desktop-width) {
      width: 358px;
   }
  }
}

.feedback-form__item--impression {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .feedback-form__label {
    font-weight: 700;
    padding: 11px 0;
  }

  & .feedback-form__input {

  }
}

// добавить в каждый блок отдельно
@media (min-width: @tablet-width) {
    .feedback-form__item--impression {
    order: 1;
  }

  .feedback-form__item--attraction {
    grid-column: 1;
    grid-column-end: 3;
  }

  .feedback-form__item--5 {
    grid-column: 1;
    grid-column-end: 3;
  }

  .feedback-form__item--6 {
    grid-column: 1;
    grid-column-end: 3;
  }
}


.feedback-form__button {
  cursor: pointer;

  width: 280px;
  padding-top: 18px;
  padding-bottom: 13px;

  font-size: 21px;
  font-weight: 700;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @light-blue;
  border: none;

  @media (min-width: @tablet-width) {
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
  }
}

.feedback-form__text {
  background-color: @grey;
  font-size: 18px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
}

.feedback-form__bottom-text {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}
