.feedback-form {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 8%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
  }
}

//общая стилизация блоков формы отзыва
.feedback-form__item {
  position: relative;
  margin: 0;
  padding: 45px 20px 25px;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid @grey;
  min-width: 320px;
  max-width: 1200px;

  order: 4;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 60px;
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }
}

//общая стилизация названия блока
.feedback-form__legend {
  position: absolute;
  font-weight: 700;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

//общая стилизация названия поля
.feedback-form__label {
  font-size: 14px;
}

//общая стилизация поля ввода
.feedback-form__input {
  position: relative;
  border: none;
  background-color: @light-grey;
  padding: 18px 10px 14px 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

//блок ФИО
.feedback-form__item--name {
  @media (min-width: @tablet-width) {
    order: 2;
    padding-left: 54px;
    border-top: none;
    border-left: 1px solid @grey;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }

  & .feedback-form__legend {
    top: 20px;
    left: 50%;
    transform: translateX(-70px);

    @media (min-width: @tablet-width) {
      text-align: left;
      top: 0;
      left: 51px;
      transform: none;
    }

    @media (min-width: @desktop-width) {
      left: 75px;
    }
  }

  & .feedback-form__label {
    display: grid;
    grid-template-columns: min-content 1fr;

    align-items: center;
    column-gap: 15px;

    text-align: start;
    white-space: nowrap;
    margin-top: 20px;

    & input:hover {
      background-color: @grey;
      outline: none;
    }

    & input:focus,
    input:active {
      background-color: @basic-white;
      outline: 4px solid @grey;
    }
  }
}

// блок информации о контактах
.feedback-form__item--contacts {
  display: grid;
  grid-template-rows: repeat(3, auto);

  @media (min-width: @tablet-width) {
    order: 3;
    grid-column: 1;
    grid-column-end: 3;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, auto);
    column-gap: 79px;
    margin-top: 80px;
  }

  & .feedback-form__legend {
    top: 20px;
    left: 50%;
    transform: translateX(-120px);

    @media (min-width: @tablet-width) {
      width: 402px;
      text-align: center;
      background-color: @basic-white;
      top: -10px;
      left: 50%;
      transform: translateX(-204px);
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  & .feedback-form__label {
    position: relative;
    margin-top: 17px;
    text-indent: 22px;
    text-align: start;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media (min-width: @tablet-width) {
      margin-top: 23px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: row;
      align-items: center;
      text-indent: 0;
      margin-top: 70px;
    }
  }

  & .feedback-form__input {
    margin: 0;
    margin-top: 7px;
    height: 58px;
    box-sizing: border-box;

    @media (min-width: @desktop-width) {
      min-width: 258px;
      margin-left: 18px;
    }
  }

  & .feedback-form__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    fill: @icon-grey;
  }
}

//блок позитивное-негативное впечатление
.feedback-form__item--impression {
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    order: 1;
    border: none;
    padding-top: 45px;
  }

  & .feedback-form__legend {
    top: 20px;
    left: 50%;
    transform: translateX(-120px);

    @media (min-width: @tablet-width) {
      top: 0;
      left: -6px;
      transform: none;
    }

    @media (min-width: @tablet-width) {
      left: 75px;
    }
  }

  & .feedback-form__label {
    font-weight: 700;
    font-size: 18px;
    text-transform: lowercase;
    margin-top: 41px;
    padding-left: 74px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      margin-top: 52px;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateY(-18px);
      width: 48px;
      height: 48px;
      background-color: @light-grey;
      border: 5px solid @light-grey;
      border-radius: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 17px;
      width: 15px;
      height: 15px;
      background-color: @light-black;
      border: 3px solid @light-black;
      border-radius: 100%;
    }

    &:hover::before {
      background-color: @grey;
      border: 5px solid @grey;
    }

    &:active::before {
      background-color: @dark-grey;
      border: 5px solid @dark-grey;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  & input:checked,
  input:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  & input:not(:checked) + .feedback-form__label::after {
    opacity: 0;
  }
}

//блок посещенных достопримечательностей
.feedback-form__item--visited-attraction {
  margin-top: 16px;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-top: 80px;
    padding: 20px 65px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
    padding: 20px 0;
  }

  & .feedback-form__legend {
    top: 15px;
    left: 50%;
    transform: translateX(-123px);

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      height: 35px;
      width: 402px;
      top: -27px;
      transform: translateX(-204px);
      background-color: @basic-white;
      text-align: center;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }

  & input:checked,
  input:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  & .feedback-form__label {
    font-weight: 700;
    font-size: 18px;
    text-transform: lowercase;
    margin-top: 55px;
    padding-left: 78px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      margin-top: 62px;
      margin-left: 30px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
    }

    &::first-letter {
      text-transform: capitalize;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateY(-16px);
      width: 46px;
      height: 46px;
      background-color: @light-grey;
      border: 5px solid @light-grey;
      border-radius: 15%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 17px;
      width: 18px;
      height: 10px;
      border-left: 3px solid @basic-black;
      border-bottom: 3px solid @basic-black;
      transform: rotate(-45deg);
    }

    &:hover::before {
      background-color: @grey;
      border: 5px solid @grey;
    }

    &:active::before {
      background-color: @dark-grey;
      border: 5px solid @dark-grey;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  & input:not(:checked) + .feedback-form__label::after {
    opacity: 0;
  }
}

.feedback-form__item--emotions {
  position: relative;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-column-end: 3;
    margin-top: 75px;
  }

  & .feedback-form__item-title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-109px);

    margin: 0;
    font-size: 18px;
    white-space: nowrap;

    @media (min-width: @tablet-width) {
      font-size: 21px;

      top: -15px;
      left: 50%;
      transform: translateX(-202px);
      background-color: @basic-white;
      width: 402px;
    }
  }

  & .feedback-form__item-text {
    background-color: @light-grey;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    padding: 13px 23px 29px 21px;
    margin-top: 15px;
    border: 0;
    height: 120px;
    resize: none;

    &::placeholder {
      color: @basic-black;
    }
  }
}

.feedback-form__item--with-button {
  padding-top: 24px;

  @media (min-width: @tablet-width) {
    grid-column: 1;
    grid-column-end: 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 28px;
    border-top: none;
  }
}

.feedback-form__button {
  cursor: pointer;
  min-width: 280px;
  width: 100%;
  max-width: 324px;
  padding-top: 18px;
  padding-bottom: 13px;
  margin: auto;
  font: 700 21px "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @light-blue;
  border: none;

  @media (min-width: @tablet-width) {
    min-width: 324px;
    width: 50%;
    max-width: 480px;
    margin: 0;
    padding-left: 49px;
    padding-right: 60px;
  }
}

.feedback-form__bottom-text {
  display: none;
  color: @light-black;

  @media (min-width: @tablet-width) {
    display: inline-block;
    font-size: 14px;
  }
}
