.intro__image-index-page {
  background-color: @blue;
  position: relative;
  min-width: 320px;
  height: 389px;

  @media (min-width: @tablet-width) {
    height: 518px;
  }
}

.intro__image-other-page {
  background-color: @blue;
  position: relative;
  min-width: 320px;
  height: 158px;

  @media (min-width: @tablet-width) {
    height: 290px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.intro__image-index-page-text {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}

.intro__image-other-page-text {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;

  @media (min-width: @tablet-width) {
    width: 457px;
    height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}

.intro__image-background-index-page {
  position: absolute;
  bottom: 0px;
  height: 100%;
  transform: translateX(-50%);
  object-fit: cover;
}

.intro__text {
  padding-left: 12px;
  padding-right: 9px;
}
