.main-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation__list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.main-navigation__item {
  text-align: center;
  font-weight: 700;
  line-height: 40px;

  background-color: @light-blue;
  color: @basic-white;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    box-shadow: none;

    background-color: @basic-white;
    color: @basic-black;
  }
}

.main-navigation__item a {
  color: inherit;
  text-decoration: inherit;
}

.main-navigation__toggle {
  position: absolute;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
