.main-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation__logo-link {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50px);
}

.main-navigation__list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;

  display: grid;
  grid-template-rows: repeat(5, 1fr);

  background-color: @light-blue;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "i1 i2 i3 i4 i5";

    background-color: @basic-white;
    color: @basic-black;
  }
}

//сетка для планшета и больше
@media (min-width: @tablet-width) {
  .main-navigation__item--1 {
    grid-area: i1;
  }

  .main-navigation__item--2 {
    grid-area: i2;
  }

  .main-navigation__item--logo {
    grid-area: i3;
  }

  .main-navigation__item--3 {
    grid-area: i4;
  }

  .main-navigation__item--4 {
    grid-area: i5;
  }
}

.main-navigation__item {
  text-align: center;
  font-weight: 700;
  line-height: 40px;

  padding-top: 10px;
  padding-bottom: 5px;

  background-color: @light-blue;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    box-shadow: none;
    line-height: 26px;

    padding-top: 16px;
    padding-bottom: 14px;

    background-color: @basic-white;
    color: @basic-black;
  }
}

.main-navigation__item--logo {
  background-color: @basic-white;
  order: 2;
}

.main-navigation__item:nth-child(n+3) {
  margin-top: 1px;
  box-shadow: 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    margin: 0;
    box-shadow: none;
  }
}

.main-navigation__item:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.2) 100%);

   @media (min-width: @tablet-width) {
     background: none;
   }
 }

.main-navigation__item-link {
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;

    &--logo {
      height: 30px;
      background-color: aqua;
      display: block;
    }
  }
}

.main-navigation__toggle {
  position: absolute;
}
