.modal__button {
  cursor: pointer;

  padding-top: 18px;
  padding-bottom: 14px;

  font-weight: 700;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @light-blue;
  border: none;
}

.modal__button--failture {
  width: 180px;
}

.modal__button--success {
  width: 280px;
}
