.page {
  height: 100%;

  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  background-color: @light-grey;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
  background-color: @basic-white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
