.page-main__booking-offer {
  padding: 33px 29px 27px;
}

.page-main__booking-offer-title{
  margin: 0;
  font-size: 21px;
}

.page-main__booking-offer-text{
  margin: 0;
  margin-top: 21px;
  font-size: 14px;
  line-height: 24px;
}

.page-main__search-button {
  cursor: pointer;
  width: 280px;
  font: 700 21px "PT Sans";
  color: @basic-white;
  text-transform: uppercase;
  background-color: @light-blue;
  border: none;
  padding-top: 14px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }

  &:hover {
    background-color: @blue;
  }
  &:focus {
    outline: none;
    background-color: @blue;
  }
  &:active{
    background-color: @dark-blue;
    color: @active-link-text;
  }
}

.page-main__map {
  margin-top: 49px;
}

.page-main__map-image {
  height: 350px;
  background-color: @blue;
  object-fit: cover;
}
