.page {
  height: 100%;

  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  max-width: 1200px;

  margin: auto;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
