.page-main__booking-offer {
  padding: 33px 29px 27px;

  @media (min-width: @tablet-width) {
    padding: 55px 0 37px;
    width: 435px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}

.page-main__booking-offer-title {
  margin: 0;
  font-size: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.page-main__booking-offer-text {
  max-width: 458px;
  margin: 21px auto 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin: 33px auto 0;
  }
}

.page-main__search-button {
  cursor: pointer;
  width: 88%;
  max-width: 458px;
  font: 700 21px "PT Sans", "Arial", sans-serif;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @light-blue;
  border: none;
  padding-top: 14px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }

  &:hover {
    background-color: @blue;
  }

  &:focus {
    outline: none;
    background-color: @blue;
  }

  &:active {
    background-color: @dark-blue;
    color: @active-link-text;
  }
}

.page-main__map {
  background-color: @blue;
  margin-top: 49px;
  height: 350px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 68px;
  }
}

.page-main__map-image {
  height: 350px;
  background-color: @blue;
  object-fit: cover;
}

.page-main__map-iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
