.page-header {
  position: relative;
  min-width: 320px;

  @media (min-width: @tablet-width) {
    height: 56px;
  }
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50px);

  @media (min-width: @tablet-width) {
    transform: translateX(-50px) translateY(0);
  }
}
