.page-header {
  position: relative;
  outline: 1px solid blue;
  min-width: 320px;
  height: 96px;

  @media (max-width: @desktop-width) {
    height: 84px;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
}
