.page {
  height: 100%;

  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.page__body {
  min-height: 100%;
  margin: 0;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
