.photo__list {
  padding: 0;
  list-style-type: none;

  display: grid;
}

.photo__item {
  padding: 20px;

  font-size: 14px;
  line-height: 24px;
}

.photo__item-image {
  background-color: @light-blue;
}

.photo__item-title {
  font-weight: 700;
}

.photo__author {
  text-transform: none;
}

.photo__likes-number {
  font-weight: 700;
}
