.photo__list {
  outline: 1px solid red;
  margin: 0 1px;
  padding: 20px;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo__item {
  outline: 3px dashed olive;
  margin-top: 22px;
  font-size: 14px;
  line-height: 24px;
}

.photo__item-info-wrapper {
  outline: 1px solid rebeccapurple;
  display: flex;
  flex-direction: column;
}

.photo__item-image {
  background-color: @light-blue;

  object-fit: cover;
  height: 280px;
  width: 100%;
  max-width: 324px;
}

.photo__item-title {
  font-weight: 700;
}

.photo__author {
  text-transform: none;
}

.photo__likes-number {
  font-weight: 700;
}
