// Colors

@basic-black: #000000;
@basic-white: #FFFFFF;
@light-blue:#81B3D2;
@blue: #669EC0;
@dark-blue:#5496BD;
@light-grey:#F2F2F2;
@grey: #E5E5E5;
@dark-grey:#D5D5D5;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
